<?xml version="1.0"?>

<config>

    <modules>
        <Frete_Personalizado>
            <version>0.0.1</version>
        </Frete_Personalizado>
    </modules>

    <global>
        <models>
            <module>
                <class>Frete_Personalizado_Model</class>
            </module>
        </models>

        <helpers>
            <module>
                <class>Frete_Personalizado_Helper</class>
            </module>
        </helpers>

    </global>

    <default>
        <flatrate2>
            <active>1</active>
            <sallowspecific>0</sallowspecific>
            <model>module/carrier_flatrate2</model>
            <title>Retirar no Local</title>
            <type>I</type>
            <specificerrmsg>Taxa fixa referente a opção de retirada de mercadoria no local.</specificerrmsg>
            <handling_type>F</handling_type>
        </flatrate2>
    </default>
</config>